/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
    box-sizing:border-box;
    line-height: 1;
    max-width:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: "Roboto Mono";
    text-align:center;
    margin:1rem;
    max-width:100%;
  }
  
  .button{
      display:inline-block;
  }
  
  #plan{
    background-color:#ff764e;
    border-radius:1.2rem;
    padding:2%;
    margin:5%;
    border:none;
    color:white;
  }
  
  #learn{
    background-color:#5ed3eb;
    border-radius:1.2rem;
    padding:2%;
    margin:5%;
    border:none;
    color:white;
  }
  
  #involved{
    background-color:#ffcd69;
    border-radius:1.2rem;
    padding:2%;
    margin:5%;
    border:none;
    color:white;

  }
  .container{
      display:inline-block;
      margin:5rem;
  }
  .head img{
    float:left;
    max-width:30%;
    border-radius:50%;
    block-size: 50% 
  }

  .little_container,h1,p{
    display:inline-block;
    width:50%;
    padding:3rem;
  }
 
  h1{
    font-family:"Chelsea Market";
    font-size:3rem;
    padding:2rem;
    
  }
  
  .info{
    background-color:#ddb9a3;
    color:white;
    padding:1rem;
    text-align:center;
  }
  
  .warnings img{
      block-size:20rem;
      box-align:center;
      margin:3rem
  }

  p2 {
    font-weight:bold;
  }
  
  footer{
    background-color:#f9e7dc;
  }

  .foot-container img{
      max-width:100%;
      block-size:50%;
  }