/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: "Roboto Mono";
    text-align:center;
  }
  
  button{
    border-radius:2rem;
    padding: 1rem;
    margin:2rem;
    border:none;
    color:white;
  }
  
  #plan{
    background-color:#ff764e;
  }
  
  #learn{
    background-color:#5ed3eb;
  }
  
  #involved{
    background-color:#ffcd69;
  }
  
  #head{
    float:left;
    margin-left:4rem;
    margin-right:auto;
    width:11rem;
    height:7rem;
    border-radius:50%;
    display:block
  }
  .heading h1 p{
    display:block;
    margin:4rem;
    padding:3rem;
  }
  
  h1{
    font-family:"Chelsea Market";
    font-size:3rem;
    padding:2rem;
  }
  
  .info{
    background-color:#ddb9a3;
    color:white;
    padding:1rem;
    margin:2rem;
    text-align:centered;
  }
  
  p2{
    font-weight:bold;
  }
  
  footer{
    background-color:#f9e7dc;
  }